/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  /* bg colors */
  --background: #131415;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;
  --cards: #252525;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #ffffff;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/*header*/

header {
  background: var(--background);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
  padding: 0px 30px 0px 30px;
  margin: 0 auto;
  z-index: 999;
}

.logo {
  margin-left: 1rem;
  cursor: pointer;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar {
  gap: 150px;
}
.navbar-list {
  gap: 50px;
}

.navbar-list a {
  color: var(--text-white);
  font-size: 12px;
  font-family: "Montserrat";
  font-style: normal;
}

.fa-house {
  color: #ffa100;
  width: 1.5rem;
  font-size: 1rem;
  font-weight: lighter;
}

.fa-cart-shopping {
  color: #ffa100;
}

.fa-user {
  color: #ffa100;
}

/* MENU HAMBURGUESA Desktop */
/* AGREGADO CLASE 10 */

.menu-label {
  display: none;
}

/*carrito*/
/*carrito*/
.cart {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 50px 30px;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  border-left: 1px solid var(--nav-bg);
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow-y: scroll;
  z-index: 2;
  min-width: 375px;
  transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*OCULTAR BARRA DE SCROLL DEL CARRITO*/

.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  color: var(--text-white);
  font-size: 20px;
  font-weight: 600;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #2323234e;
  padding: 20px;
  border: 1px solid var(--electric);
  border-radius: 10px;
}

.cart-item img {
  height: 65px;
  width: 65px;
}

.item-info {
  display: flex;
  flex-direction: column;
  min-width: 110px;
}

.item-title {
  color: var(--text-white);
  font-weight: 600;
  font-size: 14px;
}

.item-bid {
  color: var(--text-gray);
  font-weight: 300;
  font-size: 12px;
}

.item-price {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 16px;
  font-weight: 800;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 5px;
  color: var(--text-white);
  font-weight: 400;
}

.item-quantity {
  color: var(--text-gray);
}

.up {
  border: 1px solid var(--electric);
}

.down {
  background-color: var(--secondary);
  border: 1px solid var(--electric);
}

.divider {
  margin-top: 20px;
  border: 0.5px solid var(--electric);
  width: 100%;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.cart-total p {
  color: var(--text-white);
  font-weight: 700;
}

.cart-total span {
  color: var(--text-white);
  font-weight: 400;
  font-size: 18px;
}

/*Toggle del carro*/
.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
  color: var(--text-gray);
  font-size: 14px;
}

/*! Estilos bóton para la ventana modal  */
.btnComprar{
  text-decoration: none;
  color: #fff;
  padding: 15px 60px;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 500;
  transition: background-color .3s;
}

.btnComprar:hover{
  background-color: #fff;
  color: #1e3c72;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.741);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s;
  z-index: 99;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__container{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 0.75em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);
}

.modal__title{
  font-size: 2.5rem;
  color: #050d26;
}

.modal__paragraph{
  margin-bottom: 10px;
  color: #050d26;
  text-align: center;
}

.modal__img{
  width: 80%;
  max-width: 200px;
  /* border: 1px solid red; */
}

.modal__btn{
  /* background-color: red; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.modal__confirm, .modal__cancel{
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 1em 3em;
  border: 1px solid ;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal__confirm{
  background-color: #14ae5c;
}

.modal__confirm:hover{
  color: #14ae5c;
  background-color: #fff;
}

.modal__cancel:hover{
  color: #F26250;
  background-color: #fff;
}
/*! Fin estilos, ventana modal  */

/*! Estilos para seleccionar las categorías */
.hide {
  display: none;
}

button{
  cursor: pointer;
}

button:active{
  background-color: rgba(242, 98, 80, 0.7);
}

.card {
  width: 282px;
  height: 213px;
  background: var(--cards);
  max-width: 18em;
  margin-top: 1em;
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-container{ 
  width: 250px; 
  height: 100px; 
  display: block; 
  position: relative; 
  overflow: hidden;
  border-radius: 15px;
}

.image-container img{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%;
}

.name-container h2{
  font-size: 1em;
}


.active {
  background-color: rgba(242, 98, 80, 0.75);
  width: 150px;
  color: #ffffff;
} 

  .products-cards{
    padding: 20px;
    margin-top: 20px;
  }
/*! Fin de estilos para seleccionar las categorías */

/*main*/
main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

/*Hero*/
#hero {
  margin-top: 65px;
  padding: 50px 0;
  max-width: 1300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  margin-top: 93px;

}

.hero-info h1 {
  font-size: 66px;
  width: 100%;
  min-width: 500px;
  font-weight: 700;
  background: var(--text-white);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.hero-info p {
  font-weight: 100;
}

.hero-info span {
  font-size: 51px;
  font-weight: 700;
}

.hero-info a {
  color: var(--text-white);
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  width: 166px;
  padding: 15px 0px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  margin-top: 1rem;
  transition: 0.5s;
}

.hero-info a:hover {
  box-shadow: 0 0 25px rgba(233, 61, 30);
  transform: translate(0, -4px);
}

.img_pizzasHeader {
  position: absolute;
  top: 65px;
  right: 0;
  padding: 65px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Info Card */

.promotion {
  display: flex;
  margin-right: 80%;
}

#info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  width: 347px;
  height: 103px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  background: var(--cards);
  border-radius: 15px;
  gap: 20px;
}

.info-card img {
  width: 62px;
  margin-left: -1rem;
  margin-top: -1.2rem;
}

.info-card h3 {
  font-weight: 500;
  font-size: 15px;
  margin-top: -5rem;
  margin-left: 3.5rem;
}

.info-card p {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-gray);
  margin-left: 3.5rem;
  margin-top: -1rem;
}

.info-card h2 {
  font-size: 17px;
  margin-left: 3.5rem;
  margin-top: -1rem;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.info-card a {
  color: var(--text-white);
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  width: 85px;
  padding: 8px 0px;
  border-radius: 18px;
  font-size: 12px;
  text-align: center;
  margin-top: 1rem;
  transition: 0.5s;
  margin-top: -4.5rem;
  margin-left: 13rem;
}

.info-card a:hover {
  box-shadow: 0 0 25px rgba(233, 61, 30);
  transform: translate(0, -4px);
}

/* categories */

#categories h1 {
  font-size: 15px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.categories-cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.category-card {
  width: 167px;
  height: 171px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--cards);
  border-radius: 10px;
  gap: 20px;
  color: #f0fbff;
}

.category-card img {
  margin-top: -1rem;
  width: 70px;
}

.category-card p {
  font-size: 14.7px;  
  font-style: normal;  
  margin-top: -0.5rem;
}

.rectangle {
    width: 24px;
    height: 4px;
    border-radius: 15px;
    background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
    color: var(--cards);
}

/* products */

#products .title {
    font-size: 22px;
    font-weight: 500;
    /* margin-top: 10rem; */
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    margin-left: 10rem;
}

.products-cards, .products-popular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 8rem;
  }
  
  .product-card {
    width: 282px;
    height: 213px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--cards);
    border-radius: 15px;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  
  .product-top,
  .product-mid,
  .product-after {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 240px;
    /* margin-right: 5.5rem; */
  }
  
  .product-top h1 {
    margin-top: 0.5rem;
    font-size: 15px;
    font-weight: 500;
  }

  .product-mid p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    opacity: 0.3;
  }

.product-after {
  margin: 0.2rem;
}

  .product-after h2 {
    font-size: 19px;
    font-weight: 700;
    background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  }
  
  
  .product-after a {
  color: var(--text-white);
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  width: 72px;
  padding: 6px 0px;
  border-radius: 18px;
  font-size: 12px;
  border: none;
  transition: 0.5s;
  }


#products a:hover {
  box-shadow: 0 0 25px rgba(233, 61, 30);
  transform: translate(0, -4px);
}


/* footer */
footer {
  background: var(--background);
  color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 60px 0;
}

footer a,
footer p {
  color: var(--text-white);
  font-weight: 300;
  font-size: 14px;
}

footer span {
  font-weight: 800;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer li {
  font-size: 17px;
  font-weight: 100;  
}

.hidden {
  display: none;
}

.disabled {
  background-color: var(--text-gray);
  color: white;
  cursor: not-allowed;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}